<app-server></app-server>

<div class="flex flex-col gap-5 mt-10">
  <app-success-alert></app-success-alert>
</div>

<div class="flex flex-col gap-5 py-5">
  <label class="label font-semibold mb-2">Your Server Name: {{ serverName }}</label>
  <input type="text" placeholder="Type here" class="input-lg p-4 input-bordered w-full max-w-xs" (input)="onUpdateServerName($event)" />
</div>

<button
  class="px-4 py-2 bg-blue-500 text-white rounded my-5  {{ allowNewServer ? 'bg-green-500' : 'bg-red-500' }}"
  [disabled]="!allowNewServer" (click)="onCreatedServer()">
  Allow New Server
</button>

<p>{{ serverCreationStatus }}</p>

<hr class="my-5">

<div class="py-5">
  <h2 class="text-2xl font-bold">Data Binding</h2>

  <div class="flex flex-col gap-3 mt-3">
    <label for="username" class="label">Username</label>
    <input type="text" [(ngModel)]="username" class="input-lg p-4 input-bordered input-primary w-full max-w-xs" placeholder="Enter Username" />
    <p>{{ username !== "" ? username : "..." }}</p>
  </div>

  <button type="button" class="px-4 py-2 bg-orange-600 mt-5 text-white rounded hover:bg-orange-700" (click)="onResetUsername()" [disabled]="isResetBtnDisabled">Reset Username</button>
</div>
